.spacing-1{
  margin-top: 5em;
}

.spacing-2{
  margin-top: 1em;
}

.center{
  text-align: center;
}

.text-accent{
  color: #727272;
}

/*Estilos para que ande el filtro en las tablas:*/
.table-bordered {
  border-top: 0;
}
.table-bordered.table-force-topborder {
  border-top: 1px solid #ddd;
}
.table-bordered.dataTable {
  border-top: 1px solid #ddd;
}
.table-bordered.dataTable.dataTable-noheader {
  border-top: 0;
}
.table-bordered,
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child,
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child,
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child,
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.table.dataTable {
  margin-bottom: 10px;
  clear: both;
}
.table.dataTable .sorting_asc {
  background: url("../img/sorting-asc.png") no-repeat right center #eee;
}
.table.dataTable .sorting_desc {
  background: url("../img/sorting-desc.png") no-repeat right center #eee;
}
.table.dataTable .sorting {
  background: url("../img/sorting.png") no-repeat right center #eee;
}
.table.dataTable .sorting,
.table.dataTable .sorting_desc,
.table.dataTable .sorting_asc {
  padding-right: 30px;
  white-space: nowrap;
}
.table.dataTable.dataTable-scroll-x {
  border-collapse: separate;
  max-width: none;
}
.table.dataTable.dataTable-scroll-x td {
  white-space: nowrap;
}
.table.dataTable th:focus {
  outline: none;
}
.table.dataTable.dataTable-reorder th:hover {
  cursor: move;
}
.table.table-colored-header thead th,
.table.table-colored-header thead td {
  background: #368ee0;
  color: #fff;
}
.table.table-nohead thead {
  display: none;
}
.table.table-nohead thead th,
.table.table-nohead thead td {
  display: none;
}
.table.table-nohead tr:first-child td {
  border: 0;
}
.table tr:hover td {
  background: #f8f8f8;
}
.table tr td .label {
  margin-right: 3px;
}
.table tr th {
  background: #eee;
}
.table.table-user tr.alpha td.alpha-val span {
  background: #368ee0;
  color: #fff;
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}
.table.table-user tr.alpha:hover td {
  background: white;
  cursor: pointer;
}
.table.table-user tr:first-child td {
  border: 0;
}
.table.table-user tr td {
  border-top: 1px dotted #ccc;
}
.table.table-user tr td.img {
  width: 40px;
}
.table.table-user tr td.img img {
  width: 40px;
}
.table.table-user tr td.user {
  text-align: left;
  vertical-align: middle;
}
.table.table-user tr td.icon {
  width: 20px;
  vertical-align: middle;
}
.table.table-user tr td.icon .online {
  font-size: 10px;
  color: #4fa828;
}
.search-form {
  height: 35px;
  margin: 0;
}
.search-form > .search-pane {
  margin: 5px;
  height: 28px;
  background: #fff;
  border: 1px solid #ccc;
}
.search-form > .search-pane > input {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  float: left;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 1px;
  width: 145px;
}
.search-form > .search-pane > input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.search-form > .search-pane button[type="submit"] {
  float: right;
  background: #368ee0;
  color: #fff;
  border: 0;
  margin: 2px 2px 0px 0;
  line-height: 19px;
  min-height: 24px;
}

.ColVis {
  float: right;
  margin-bottom: 1em;
}
.ColVis_Button {
  position: relative;
  float: left;
  margin-right: 3px;
  padding: 3px 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  *cursor: hand;
}
button.ColVis_Button::-moz-focus-inner {
  border: none !important;
  padding: 0;
}
.ColVis_text_hover {
  border: 1px solid #999;
  background-color: #f0f0f0;
}
div.ColVis_collectionBackground {
  background-color: black;
  z-index: 1100;
}
div.ColVis_collection {
  position: relative;
  width: 150px;
  background-color: #f3f3f3;
  padding: 3px;
  border: 1px solid #ccc;
  z-index: 1102;
}
div.ColVis_collection button.ColVis_Button {
  background-color: white;
  width: 100%;
  float: none;
  margin-bottom: 2px;
}
div.ColVis_catcher {
  position: absolute;
  z-index: 1101;
}
.disabled {
  color: #999;
}
button.ColVis_Button {
  text-align: left;
}
div.ColVis_collection button.ColVis_Button:hover {
  border: 1px solid #999;
  background-color: #f0f0f0;
}
span.ColVis_radio {
  display: inline-block;
  width: 20px;
}
span.ColVis_radio input {
  margin-top: 0;
}
.dataTables_wrapper .ColVis {
  margin: 10px 10px 10px 0;
}
.dataTables_wrapper .ColVis .ColVis_Button {
  background: #eee;
  padding: 3px 8px;
  border: 0;
}
.dataTables_wrapper .ColVis .ColVis_Button i {
  margin-left: 5px;
}
.dataTables_wrapper .ColVis .ColVis_Button:hover {
  background: #ddd;
}
.dataTables_wrapper .dataTables_length {
  float: left;
  min-width: 200px;
  margin: 10px 10px 5px 10px;
}
.dataTables_wrapper .dataTables_length .input-mini {
  float: left;
}
.dataTables_wrapper .dataTables_length label > span {
  float: left;
  margin: 4px 5px;
}
.dataTables_wrapper .DTTT_container {
  margin: 10px 5px 10px 0;
}
.dataTables_wrapper .DTTT_container .DTTT_button {
  background: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  margin-right: 5px;
  color: #333;
}
.dataTables_wrapper .DTTT_container .DTTT_button:hover {
  background: #ddd;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  margin: 10px 10px 5px 5px;
}
.dataTables_wrapper .dataTables_filter input {
  margin-bottom: 0;
}
.dataTables_wrapper .dataTables_info {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_info span {
  font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate > a {
  margin-right: 5px;
  background: #eee;
  padding: 3px 8px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate > a:hover {
  background: #ddd;
}
.dataTables_wrapper .dataTables_paginate > span > a {
  padding: 3px 8px;
  margin-right: 5px;
  background: #eee;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate > span > a.paginate_active {
  background: #368ee0;
  color: #fff;
}
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.DTFC_Cloned {
  background: #eee;
  border-right: 1px solid #ddd;
}
div.DTS tbody th,
div.DTS tbody td {
  white-space: nowrap;
}
div.DTS tbody tr.even {
  background-color: white;
}
.alert.alert-nomargin {
  margin: 0;
}
div.DTS div.DTS_Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 20px;
  margin-top: -20px;
  margin-left: -100px;
  z-index: 1;
  border: 1px solid #999;
  padding: 20px 0;
  text-align: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
}
div.DTS div.dataTables_scrollHead {
  background-color: white;
}
div.DTS div.dataTables_scrollBody {
  z-index: 2;
}
